/* add your CSS here */
/* add your CSS here */
body{
	background: url("bg-img.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}
.card{
	width:300px;
	padding:15px;
	margin:15px;
	font-family: 'RanchersRegular'; 
	background: url("bg-water.jpg");
	background-size: 500px 660px;
	background-repeat: no-repeat;
	background-position: left;
	border: 5px solid white;
	border-radius: 5px;
	box-shadow: 2px 2px 15px 1px #0088cc;
}

#card-title{
	font-size:25px;
	border: 2px solid #0088cc;
	background:  #e6f7ff;
	box-shadow: 2px 2px 2px #0088cc;
  	padding: 5px;
	border-radius: 5px;
	text-align: center;
	margin: 0 auto;
	line-height: 2;
	letter-spacing: 2px;
}
img{
	width: 300px;
	height: 200px;
	margin: 10px auto;
	border-radius: 5px;
	border: 2px solid white;
	box-shadow: 2px 2px 2px #0088cc;

}

#main-content{
	padding:10px;
  	line-height:1.4;
  	border: 2px solid white;
  	background: #fefefeb3;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #0088cc;

}
#interesting-fact{
	font-style:italic;
	font-size: 16px;
	margin: 5px;
}
ul{
	list-style: none;
	padding-left: 0;
	/* font-family:Arial,Helvetica Neue,Helvetica,sans-serif;  */
	font-family: 'ManicMondayRegular'; 
	font-size: 20px;
	line-height: 1.2;
}

#description{
	margin: 5px;
}
	font-family: 'ShwumatikRegular'; 
	font-size: 20px;
	text-align: center;
	border-radius: 5px;
	background: #fefefeb3;
	line-height: 0;	
	padding: 5px; 
	margin: 0 33% 5px 33%; 
	position: absolute;
	top: 0;	
	right: 0;
}
	color: navy;
}
.bold{
	font-weight: bold;
}
